@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,100&family=Tilt+Neon&display=swap");

:root{
  --rosado:#fe3281;
  --beige: #fff9f1;
  --blanco: #ffffff;
  --negro: #000000;
  --margen_izquierdo: 15px;
  --tipografia_delgada: 'Raleway', sans-serif;
  --Tipografia_gruesa: 'Tilt Neon', sans-serif;

}

*{
  margin: 0%;
  padding: 0%;
}
body{
  font-family: var(--tipografia_delgada);
  font-size: 16px;
  line-height: 24px;
  color: #333;
  background-color: var(--blanco);
}
.ancho{
  max-width: 1200px;
  margin:auto;
  align-items: center;
  /* border:1px red solid; */
}
header{
  background-color: var(--beige);
  border-top: 15px var(--rosado) solid;
  padding-bottom: 20px;
}
.contenedor_cabecera{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items:center;
  margin: 0%;
  padding: 0%;
}
.contenedor_cabecera picture{
  width: 200px;
}
.contenedor_cabecera picture img{
  width:100%;
  height: 100%;
  object-fit: cover;
}
.iconosredes{
  /* flex-grow: 1;
  text-align:right; */
}
.iconosredes a{
  margin-right:30px;
  text-decoration:none;
  color:var(--negro);
  display: inline-block;
  transition: all .5s ease;
}
.iconosredes a:hover{
  color: var(--rosado);
}
.iconosredes a i{
  font-size:50px;
}
.contenedormenu{
  list-style: none;
  margin: 0;
  padding:0;
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-items: stretch;

}
.contenedormenu{
  border: 2px var(--negro) solid;
  font-family: var(--Tipografia_gruesa);
}
.contenedormenu li{
}
.contenedormenu li a{
  display: inline-block;
  padding:10px 15px;
  text-decoration: none;
  color:var(--negro);
  text-transform:uppercase;
  transition: all 0.5s ease;
}
.contenedormenu li a:hover{
  color:var(--rosado);
}

.fondopiedras{
  background-image: url(Imagenes/fondopiedras.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 100px;
}

.fondopiedras h2{
  font-size: 40px;
  font-family: var(--Tipografia_gruesa);
}

.fondopiedras h3{
  font-size: 28px;
  line-height: 30px;
  font-family: var(--tipografia_delgada);
}

.botones{
  width: 375px;
  margin: auto;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items:center;
  font-family: var(--tipografia_delgada);
  display: flex;
  flex-direction: column;
}

.boton_rosa{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  background-color: var(--rosado);
  gap: 10px;
  padding: 15px;
  border: 2px var(--rosado) solid;
  text-decoration: none;
  color: var(--blanco);
  transition: all 0.5s ease;
}

.boton_rosa:hover{
  border: 2px var(--rosado) solid;
  color: var(--blanco);
  background-color: rgba(255, 255, 255, 0);
}

.flecha{
  color: white;
}

.boton_transparente{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
  border: 2px var(--rosado) solid;
  padding: 15px;
  text-decoration: none;
  color: var(--blanco);
}

.boton_transparente:hover{
  border: 2px var(--rosado) solid;
  color: var(--blanco);
  background-color: var(--rosado);
  transition: all 0.5s ease;
}

.contenedor_velas{
  width: 1200px;
  gap: 100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-top: 10px;
}

.contenedor_velas h2{
  font-weight: bold;
}

.contenedor_velas p{
  line-height: 35px;
}

.img_velas{
  width: 1200px;
}

.velas{
  width: 100%;
}

.contenedores_varios{
  background-color: var(--beige);
  border-bottom: 15px var(--rosado) solid;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.contenedores_varios h2{
  text-align: center;
  margin: auto;
  padding: 10px;
  font-family: var(--Tipografia_gruesa);
}

.aromatizante{
  border-radius: 15px;
  max-width: 500px;
}

.info_puestos{
  max-width: 600px;
}

.figure_section{
  width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  gap: 40px;
}

.servicios{
  display: flex;
  width: 1200px;
  margin: auto;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.servicios section{
  width: 380px;
  border-radius: 15px;
  background-color: rgb(253, 236, 161);
  padding-bottom: 40px;
}

.servicios h2{
  font-family: var(--Tipografia_gruesa);
}

section img{
  border-radius: 100%;
  border: 12px var(--blanco) solid;
  margin-top: 30px;
  margin-left: 85px;
}

.servicios section a{
  border: 2px var(--rosado) solid;
  padding: 20px;
  text-decoration: none;
  color: var(--blanco);
  background-color: var(--rosado);
  margin-left: 130px;
  transition: all 0.5s ease;
}

section a:hover{
  background-color: var(--blanco);
  color: var(--rosado);
  border: 2px var(--rosado) solid;
}

.contenedorfinal{
  width: 1200px;
  margin: auto;
  text-align: center;
  margin-bottom: 30px;
}

.rosa{
  color: var(--rosado);
  text-decoration: none;
}

#iconomenu{
  border: 2px var(--rosado) solid;
  padding: 10px;
  border-radius: 5px;
  color: white;
  background-color: var(--rosado);
  display: none;
}

